/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
/* apply a natural box layout model to all elements */
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* End of reset */

body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
}
h1,h2,h3,h4 { margin-bottom: 0.666em; }
h1 { font-size: 1.5em; }
h2 { font-size: 1.25em; }
p { margin: 0.5em 0em; line-height: 1.5em; }
ul,ol { list-style-type: none; }

.container {
	width: 1000px;
	max-width: 96%;
	padding: 0px;
	margin-left:  auto;
	margin-right:  auto;
}

/* Navigation styles */
nav.navbar { background-color: #f8f8f8; border-bottom: 1px solid #e7e7e7; margin-bottom: 2em; }
body.map nav.navbar { margin-bottom: 0px; }
body.map #content {
	bottom: 0px;
	max-width: 100%;
	position: absolute;
	top: 49px;
	width: 100%;
}
body.map #main { height: 100%; }
body.rate #main { height: 400px; }
#navbar { float: right; }
ul.nav { display: inline-block; }
ul.nav li { display: inline-block; }
.navbar-toggle {
	float: right;
	margin: 0.45em;
	border-radius: 0.25em;
	border: 1px solid #909090;
	font-size: 1em;
	line-height: 2em;
}
nav.navbar a {
	text-decoration: none;
	color: #606060;
	line-height: 3em;
	padding: 0.9em 1em;
	background-color: #f8f8f8;
}
nav.navbar a.navbar-brand { margin-left: -1em; font-weight: bold; }
nav .navbar-header,nav #navbar {
	display: inline-block;
}
nav.navbar li.active a, ul.nav a:hover, ul.nav a:focus { background-color: #e7e7e7; }

#logo { display: inline-block; padding: 0; padding-left: 0.25em; height: 1em; }
#logo div { display: inline-block; width: 0.5em; height: 0.5em; margin-top: 0; margin-right: 0.25em; }

/* Type-ahead styles */
#filter, #typeahead {
	font-size: 1em;
}
#typeahead {
}
#typeahead ul {
	margin: 0px;
	padding: 0px;
	overflow-y: auto;
}
#typeahead li {
	background-color: white;
}
#typeahead li a {
	display: block;
	padding: 0.5em;
	text-decoration: none;
	color: black;
}
#typeahead li a .score {
	float: right;
	color: #bfbfbf;
}
#typeahead li a .title {
	display: block;
	font-size: 1em;
}
#typeahead li a .desc {
	display: block;
	font-size: 0.5em;
	color: #909090;
}
#typeahead li a:focus,#typeahead li a:hover,#typeahead li a.selected {
	background-color: #e7e7e7;
}

input.fullwidth {
	width: 100%;
}

ol.gradeselection {
	display: inline-block;
	margin: 0px;
	padding: 0px;
}
ol.gradeselection li {
	display: inline-block;
	padding: 0.25em;
}
ol.gradeselection li.selected { background-color: black; }
ol.gradeselection li div {
	width: 2em;
	height: 2em;
}
.green { background-color: #00c600; }
.blue { background-color: #3972f8; }
.red { background-color: #b00000; }
.black { background-color: #000000; }

.sr-only {
	border: 0 none;
	clip: rect(0px, 0px, 0px, 0px);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

@media only screen and (max-width: 640px){

}
