<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <nav role="navigation" class="navbar">
        <div class="container">
            <div class="navbar-header">
                <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle sr-only collapsed" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
<!--                <a href="index.html" class="navbar-brand">resources</a>-->
                <a href="{{ site.baseurl }}/blog" class="navbar-brand" title="Home">{{ site.title }}</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li class=""><a href="{{ site.baseurl }}/">App</a></li>
                    <li class=""><a href="https://github.com/slowe/routerater/">About</a></li>
                    <li><a href="https://github.com/slowe/routerater/issues/new?title=Hello&labels=question">Contact</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container -->
    </nav>
      
      
    <div class="container content">

      <main>
        {{ content }}
      </main>

      <footer class="footer">
        <small>
          &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.
        </small>
      </footer>
    </div>

  </body>
</html>